@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "GetVoipGrotesque";
  src: local("GetVoipGrotesque"),
    url('./assets/fonts/GetVoipGrotesque.ttf') format("truetype");
}

.font-face-logo {
  font-family: "GetVoipGrotesque", serif;
}

body {
  background-color: white;
}