@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "GetVoipGrotesque";
  src: local("GetVoipGrotesque"),
    url("/src/fonts/GetVoipGrotesque.ttf") format("truetype");
}

.font-face-logo {
  font-family: "GetVoipGrotesque";
}
